<h1>Parks</h1>
<p>key: {{key}}</p>
<div id="map"></div>

<div id="pickupGame">
  <a href="/game">Schedule A Pickup Game</a>
</div>

<!--  Axios CDN  -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!--  Google Maps Key  -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbVRTlOdUdxpXeNSf3Te1JRvVLIRx7yMY">
  </script>

<script type="text/javascript" src="/javascripts/script.js"></script>
