@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Montserrat&display=swap');

$navBackground: #708090;

@mixin center-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  font-family: 'Montserrat';
  margin: 0;
  padding: 3vw 0 0;

  #body {
    min-height: 90vh;
    padding: 2vw 5vw;
  }

  nav {
    @include center-content;
    font-family: 'Montserrat';
    background-color: $navBackground;
    position: fixed;
    top: 0;
    width: 90vw;
    height: 3vw;
    padding: 0 5vw;

    div:nth-child(1) {
      @include center-content;

      a {
        margin-right: 1vw;
      }
    }

    div:nth-child(2) {
      @include center-content;

      a {
        margin-left: 1vw;
      }
    }

    a {
      color: snow;
      text-decoration: none;

      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }
    }

    h4 {
      color: darkslateblue;
    }

    // .menu-icon {
    //   position: relative;
    //   padding: 26px 10px;
    //   cursor: pointer;
    //   z-index: 1;
    //   // display: none;

    //   &__line {
    //     display: block;
    //     position: relative;
    //     background: black;
    //     height: 2px;
    //     width: 20px;
    //     border-radius: 4px;

    //     &::before, &::after {
    //       content: '';
    //       position: absolute;
    //       height: 100%;
    //       width: 100%;
    //       border-radius: 4px;
    //       background: black;
    //     }
    //     &::before {
    //       transform: translateY(-5px);
    //     }
    //     &::after {
    //       transform: translateY(5px);
    //     }
    //   }
    // }
  }

}

#title {
  font-family: 'Bungee Hairline';
  font-size: 50px;
}

#map {
  width: 50%;
  height: 400px;
}